Package: xug-wallpapers
Source: xug-look
Version: 0.4
Architecture: all
Maintainer: CIXUG Developers <osl@cixug.es>
Installed-Size: 11918
Section: x11
Priority: optional
Description: Ubuntu.xug - Wallpapers
 The Ubuntu.xug theme.
 .
 This package contains the USC Wallpapers.
