Package: xug-software-usc-rai
Source: xug-software-meta
Version: 0.2-1
Architecture: all
Maintainer: CIXUG Developers <osl@cixug.es>
Installed-Size: 25
Depends: centrifydc, firestarter, gnome-network-admin, nfs-common, openssh-blacklist, openssh-blacklist-extra, openssh-client, openssh-server, quota
Recommends: ethtool
Section: metapackage
Priority: optional
Description: Metapackage that contains tools for RAI network of USC
 This package installs all the needed software on the
 RAI network of University of Santiago de Compostela
