Package: xug-desktop
Source: xug-meta
Version: 0.9
Architecture: i386
Maintainer: Oficina de Software Libre da USC <osl@usc.es>
Installed-Size: 25
Depends: xug-default-settings, xug-keyring, xug-language-pack, xug-software-base
Section: metapackages
Priority: optional
Description: The XUG desktop system
 This package depends on all of the packages in the xug desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.
