Package: xug-redeusc
Version: 0.2
Architecture: all
Maintainer: CIXUG Developers <osl@cixug.es>
Installed-Size: 31
Depends: centrifydc
Section: misc
Priority: optional
Description: Script para configurar os equipos da RAI da USC. Tamen instala Centrify.

