Package: xug-software-telecomunicacions
Source: xug-software-meta
Version: 0.2-1
Architecture: all
Maintainer: CIXUG Developers <osl@cixug.es>
Installed-Size: 25
Depends: audacity, octave, qtoctave
Section: metapackage
Priority: optional
Description: Metapackage with apps and tools for Telecomunications Science
 This package installs all the needed software on the
 Faculty of Telecomunications Science of all the Universities of Galicia
